@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

.fadeUp {
    animation: fadeUp 1.7s;
}


/* ####center */
.center {
    @apply shadow-2xl
}


/* ####topLeft */
.topLeft {
    @apply  md:translate-x-44 translate-x-16 translate-y-20 transition-all duration-[2s] ease-out

}
.topLeftActive {
    @apply md:-translate-x-11 -translate-x-8 md:-translate-y-1 translate-y-3
}


/* ####topRight */
.topRight {
    @apply md:-translate-x-44 -translate-x-20 translate-y-32 transition-all duration-[2s] ease-out

}
.topRightActive {
    @apply md:-translate-x-1 translate-x-1 md:translate-y-20 translate-y-14
}


/* ####botLeft */
.botLeft {
    @apply md:translate-x-32 translate-x-16 -translate-y-24 transition-all duration-[2s] ease-out

}
.botLeftActive {
    @apply -translate-x-4 md:translate-y-9 -translate-y-0
}


/* ####botLeft */
.botRight {
    @apply md:-translate-x-36 -translate-x-16 md:-translate-y-32 -translate-y-24 transition-all duration-[2s] ease-out

}
.botRightActive {
    @apply md:translate-x-10 translate-x-7 md:-translate-y-3 -translate-y-6
}


.top {
    @apply transition-all duration-[1s] ease-out ml:translate-y-[120%]

}
.topActive {
    @apply ml:translate-y-[0%]
}




