@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

.fadeUp {
    animation: fadeUp 1.7s;
}


/* ####topLeft */
.topLeft {
    @apply md:translate-x-44 ml:translate-x-44 translate-x-28 md:translate-y-44 translate-y-20  opacity-100 absolute transition-all duration-[2s] ease-out

}
.topLeftActive {
    @apply md:translate-x-0 mm:translate-x-8 ml:translate-x-[6rem] translate-x-6 md:translate-y-0 translate-y-2 opacity-100
}


/* ####topRight */
.topRight {
    @apply md:translate-x-56 translate-x-32 md:translate-y-44 translate-y-24 opacity-100 absolute transition-all duration-[2s] ease-out

}
.topRightActive {
    @apply md:translate-x-[25rem] mm:translate-x-56 ml:translate-x-[18rem] mn:translate-x-[27rem] translate-x-52 md:translate-y-20 ml:translate-y-[3.5rem] translate-y-12 opacity-100
}


/* ####botLeft */
.botLeft {
    @apply md:translate-x-44 translate-x-24 md:translate-y-24 translate-y-[4.5rem] opacity-100 absolute transition-all duration-[2s] ease-out

}
.botLeftActive {
    @apply md:translate-x-10 ml:translate-x-[7rem] translate-x-12 md:translate-y-64 ml:translate-y-[8.5rem] mn:translate-y-64 translate-y-36 opacity-100
}


/* ####botLeft */
.botRight {
    @apply md:translate-x-52 translate-x-28 md:translate-y-36 translate-y-24 opacity-100 absolute transition-all duration-[2s] ease-out

}
.botRightActive {
    @apply md:translate-x-[22.5rem] mn:translate-x-[26rem] ml:translate-x-[17.8rem] translate-x-52 md:translate-y-64 ml:translate-y-[9rem] translate-y-36 opacity-100
}
